.relative { position: relative; }
.absolute { position: absolute; }
.fixed    { position: fixed; }

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

.top    { top: 0; }
.right  { right: 0; }
.bottom { bottom: 0; }
.left   { left: 0; }

.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}

.float-left  { float: left; }
.float-right { float: right; }
